[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeoDiff"]
	path = GeoDiff
	url = https://github.com/nanostring-biostats/geodiff
[submodule "SpatialDecon"]
	path = SpatialDecon
	url = https://github.com/nanostring-biostats/spatialdecon
